players/*
worlds/*
plugins/*
bin*/*
timings/*
*.log
*.phar
server.properties
/pocketmine.yml
*.txt
genisys.yml
crashdumps/*
memory_dumps/*
server.lock
/phpstan.neon

# Common IDEs
.idea/
nbproject/*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
/nbproject/private/

# Sphinx-doc
/docs/build/
!/docs/requirements.txt
.project

# Composer
vendor/*
